.venv/
.idea/
input/*.mzML
output/*.bin
output/*.mzML
output/*.pepXML
output/*.pin
output/*.zip
output/*.parquet
output/*.tsv
output/*.xml
output/*.npy
output/*.png
output/*.csv
results/*.csv
results/*.png
results/*.zip
.DS_Store